*{
	-webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}

.login_section{
	background: url(../images/splash_login.png);
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 100vh;
}
.display_table{
	display: table;
	height: 100%;
	width: 100%;
}
.display_table_cell{
	display: table-cell;
	vertical-align: middle;
}
.splash_info{
	width: 100%;
	float: left;
	background: rgba(255,255,255,.5);
	padding: 80px;
	border-radius: 10px;
	margin: 30px 0;
}
.splash_info img{
	max-width: 300px;
	margin:0px 0;
}
.splash_info p {
    color: #232323;
    font-size: 20px;
    font-weight: 500;
    font-family: "Segoe UI";
    margin: 40px 0;
}
.btn_blue, 
.btn_white:hover, 
.btn_white:focus {
    background: #0eb0ff;
    color: #fff;
    border-color: #fff;
    padding: 8px 30px;
    border-width: 2px;
    font-family: "Segoe UI";
    font-weight: 500;
    margin-bottom: 15px;
}
.btn_white,
.btn_blue:hover,
.btn_blue:focus{
	background: #fff;
	color: #252525;
	border-color: #252525;
	padding: 8px 30px;
    border-width: 2px;
    font-family: "Segoe UI";
    font-weight: 500;
    margin-bottom: 15px;
}
.splash_login_form{
	width: 100%;
	float: left;
	padding: 30px
}
.form_heading{
	color:#6d6d6d;
    font-family: "Segoe UI";
}
.splash_login_form input{
	border-radius: 0px;
	border:0px;
	border-bottom: 2px solid #d1d0d0;
	color:#0eb0ff;
	font-family: "Segoe UI";
    font-weight: 500;
    color:#0eb0ff;
}
.splash_login_form input:focus{
	box-shadow: none;
	border-left:0px;
    color:#0eb0ff;
	border-color:#0eb0ff ;
}
.placeholder_text{
	color: #d1d0d0;
	font-family: "Segoe UI";
    font-weight: 500;
}
.form-group{
	position:relative;
}
.form-group .inputText:focus ~ .placeholder_text,  
.inputText:focus ~ .placeholder_text,  
.has-content.inputText ~ .placeholder_text ,
.form-group .inputText ~ .placeholder_text , 
.inputText ~ .placeholder_text , 
.form-group .inputText[value=""]:focus ~ .placeholder_text , 
.inputText[value=""]:focus ~ .placeholder_text , 
.has-content.inputText[value=""] ~ .placeholder_text , 
.form-group .has-content.inputText[value=""]:invalid ~ 
.placeholder_text , 
.has-content.inputText[value=""]:invalid ~ 
.placeholder_text ,
.form-group .has-content.inputText[value=""] ~ .placeholder_text , 
.has-content.inputText[value=""] ~ .placeholder_text ,
.splash_login_form .inputText.has-content[value=""] ~ .placeholder_text , 
.splash_login_form .inputText.has-content[value=""]:invalid ~ .placeholder_text ,
.splash_login_form .inputText[value=""]:focus ~ .placeholder_text , 
.splash_login_form .inputText[value=""]:invalid:focus ~ .placeholder_text {
	top: -23px;
	font-size: 14px;
	/*color: #2064ae; */
	color:#808080;
	transition: 0.3s;
	position:absolute;
	pointer-events:none;
	left: 0;
}
.splash_login_form .inputText.has-content[value=""] ~ .placeholder_text , 
.splash_login_form .inputText.has-content[value=""]:invalid ~ 
.placeholder_text ,
.splash_login_form .inputText[value=""]:focus ~ .placeholder_text , 
.splash_login_form .inputText[value=""]:invalid:focus ~ .placeholder_text {
	color: #aaaaaf;
}

.form-group .inputText[value=""]:valid , 
.inputText[value=""]:valid{
	color:#000;
}
/*.form-group .inputText[value=""] ~ .placeholder_text ,  .inputText[value=""] ~ .placeholder_text, .form-group .inputText[value=""]:invalid ~ .placeholder_text , .inputText[value=""]:invalid ~ .placeholder_text */
.form-group .inputText ~ .placeholder_text ,  
.inputText ~ .placeholder_text, 
.form-group .inputText[value=""]:invalid ~ 
.placeholder_text , 
.inputText[value=""]:invalid ~ .placeholder_text {
	position: absolute;
	left: 15px;
	/*width: 100%;*/
	top: 10px;
	color: #aaa;
	transition: 0.3s;
	z-index: 1;
	font-size:14px;
	letter-spacing: 0.5px;
	pointer-events: none;
	-webkit-appearance:none;
}
.splash_login_form .inputText[value=""] ~ .placeholder_text , 
.splash_login_form .inputText[value=""]:invalid ~ .placeholder_text{
	top: 7px;
}
.splash_login_form .placeholder_text{
	width:100%;
	text-align: left;
	left:0px;
}
.splash_login_form .form-group .inputText[value=""] ~ .placeholder_text, 
.splash_login_form .inputText[value=""] ~ .placeholder_text{
	left:0;
}

input::-webkit-autofill ~ .placeholder_text {
	top: -23px !important;
}

input::-moz-autocomplete  ~ .placeholder_text {
	top: -23px !important;
}
input::-o-autofill  ~ .placeholder_text{
	top: -23px !important;
}
input::-ms-autofill  ~ .placeholder_text{
	top: -23px !important;
}


/****************************
Dashboard css
****************************/
.menu_side{
	min-height: 100vh;
	background: #031e2c;
	transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    max-width: 225px;
    -webkit-box-flex:  initial;
    -ms-flex:  initial;
    flex: initial;
}
.content_side{
	max-width: calc(100% - 225px);
	background-color: #e4ebf7;	
	transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -webkit-box-flex:  initial;
    -ms-flex:  initial;
    flex: initial;

}
.site_logo{
	float: left;
	width: 100%;
	margin: 0px 0;
	border-bottom: 2px solid #031723;
	padding: 12px 15px;
	background: #031723;
}
.site_logo img{
	width: 124px;
	margin: 0 auto;
	display: block;
}
.profile_section{
    width: 100%;
    float: left;
    border-bottom: 2px solid #031c2a;
    padding: 20px 15px;
}
.profile_section img{
	width: 50px;
	height: 50px;
	border: 2px solid rgb(62, 110, 134);
}
.profile_section h2{
	color: #fff;
	font-size: 15px;
	font-family: "Segoe UI";
	font-weight: 500;
	margin: 0px;
}
.profile_section p{
	color: #0a86c3;
	font-size: 12px;
	font-family: "Segoe UI";
	font-weight: bold;
	margin: 0px;
}
.welcome_message{
	color: #031e2c;
	font-size: 36px;
	font-family: "Segoe UI";
	font-weight: bold;
	margin: 0px;
	display: table;
	height:calc(100% - 86px);
	width: 100%;
	text-align: center;	
	background-image: url(../images/bg.png);
	background-position: center center; 
	background-size: cover;
}
.welcome_message span{
	vertical-align: middle;
	display: table-cell;
}
.menu_side .navbar-toggler{
    width: 100%;
    text-align: left;
    color: #0b86c3;
    font-size: 14px;
    padding: 10px 15px;
    position: relative;
}
.menu_side .navbar-toggler:after, 
.menu_side .navbar-toggler:before {
    content: '';
    width: 9px;
    height: 2px;
    background: #0eb0ff;
    position: absolute;
    right: 21px;
    display: inline-block;
    transform: rotate(45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    top:50%;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}
.menu_side .navbar-toggler:before {
	transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    right:15px;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}
.menu_side .navbar-toggler.collapsed:before{
	transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}
.menu_side .navbar-toggler.collapsed:after{
	transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}
.menu_side .navbar-toggler:focus{
	box-shadow: none;
	border:0px;
	outline: none;
}
.menu_side ul.collapse,
.menu_side ul.collapsing{
	list-style: none;
	padding: 0px;
	width: 100%;
	margin-top: 10px;
}
.menu_side .nav-link {
    display: block;
    padding: .7rem 1rem .7rem 50px;
    position: relative;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    border-left: 4px solid transparent;
    outline: none !important; 
}
.menu_side .nav-link.active,
.menu_side .nav-link:hover {
	border-color: #0b86c3;
	background: #021823
}
.menu_side .nav-link img{
	position: absolute;
    left: 15px;
}
.btn-toggle {
  padding: 0;
  position: relative;
  border: none;
  height: 1.5rem;
  width: 3rem;
  border-radius: 1.5rem;
  color: #6b7381;
  background: #aaaaaa;
}
.btn-toggle:focus,
.btn-toggle.focus,
.btn-toggle:focus.active,
.btn-toggle.focus.active {
  outline: none;
}
.btn-toggle:before,
.btn-toggle:after {
  line-height: 1.5rem;
  width: 4rem;
  text-align: center;
  font-weight: 600;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  transition: opacity .25s;
}
.btn-toggle > .handle {
  position: absolute;
  top: 0.1875rem;
  left: 0.1875rem;
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 1.125rem;
  background: #fff;
  transition: left .25s;
}
.btn-toggle.active {
  transition: background-color 0.25s;
      background: #0eaffd;
}
.btn-toggle.active > .handle {
  left: 1.6875rem;
  transition: left .25s;
}
.btn-toggle.active:before {
  opacity: .5;
}
.btn-toggle.active:after {
  opacity: 1;
}
.content_side header {
    float: left;
    width: 100%;
    background: #f2f6fc;
    padding: 23px 0;
    /*margin-bottom: 15px;*/
    box-shadow: 0px 0px 10px #adadad;
}
.content_side header h2{
	font-size: 20px;
	margin-bottom: 0px;
}
.content_side header h2 a{
	color: #0b86c3;
	text-decoration: none;
}
.data_section{
	float: left;
	width: 100%;
	margin-top: 15px;
}
.data_section table{
	width: 100%;
	float: left;
}
.data_section thead{
	background: #fff;
}
.data_section thead th {
    color: #8c8c8c;
    font-size: 14px;
    font-family: "Segoe UI";
    font-weight: normal;
    text-transform: uppercase;
}
.data_section thead th{
	border-bottom: 1px solid #aaa;

}
.table-bordered td, .table-bordered th{
	border:1px solid #aaa;
	white-space: nowrap;
}
.data_section tbody td {
	background: #f5f6f9;
}
.data_section tbody td a img {
    width: 18px;
    margin: 2px 4px;
}
.mobile_logo{
	display: none;
}
.menu_icon {
    background: #031723;
    color: #fff;
    border: 0px;
    padding: 2px 7px;
    font-size: 15px;
    box-shadow: none;
    border-radius: 2px;
}
.site_logo img.mobile_logo{
	display: none !important;
}
.decrease_box{
	max-width: 62px;
	-webkit-box-flex: initial;
	-ms-flex: initial;
	flex: initial;
	transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}
.increase_box{
	max-width: calc(100% - 62px);
	-webkit-box-flex: initial;
	-ms-flex: initial;
	flex: initial;
	transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}
.decrease_box .site_logo img{
	display: none !important;
}
.decrease_box .site_logo {
	float: left;
	width: 100%;
	margin: 0px 0;
	border-bottom: 2px solid #031723;
	padding: 16px 3px;
	background: #031723;
}
.decrease_box .site_logo img.mobile_logo{
	 display: block !important;
	 width: 36px;
}
.decrease_box .profile_section .col-sm-8{
	display: none;	
}
.decrease_box .profile_section {
	text-align: center;
	padding:10px 5px;
}
.decrease_box .profile_section img{
	width: 33px;
	height: 33px;
}
.decrease_box.menu_side .navbar-toggler{
	display: none ;
}
.decrease_box.menu_side .nav-link{
	text-indent: -99999px;
}

.data_filter {
    float: left;
    width: 100%;
    text-align: right;
    padding: 15px 0;
    background: #d4dbe8;
    box-shadow: inset 0px 0px 10px #b1b1b1;
}

.data_filter .form-inline{
	display: inline-block;
	width: 100%;
}
.data_filter .form-group{
	display: inline-block;
}
.form-control{
	border-radius: 0px;
}
.form-control:focus{
	box-shadow: none;
}
.data_filter .form-group input {
    background-image: url(../images/icons/icon-search.png);
    background-position: 9px center;
    padding-left: 40px;
    border-radius: 0px;
    background-repeat: no-repeat;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 400;
    background-color: #c6cdda;
    color: #b3b3b3;
    width: 200px;
}
.data_filter .form-group input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #b3b3b3;
}
.data_filter .form-group input::-moz-placeholder { /* Firefox 19+ */
  color: #b3b3b3;
}
.data_filter .form-group input:-ms-input-placeholder { /* IE 10+ */
  color: #b3b3b3;
}
.data_filter .form-group input:-moz-placeholder { /* Firefox 18- */
  color: #b3b3b3;
}
.data_filter .form-group input:focus,
.data_filter .form-group input.has-content1 {
	background-image: none;
	background-color: #fff;
	padding-left: 12px;
	color: #0eb0ff;
}
.import_button {
    background-color: #021823 !important;
    background-image: url(../images/icons/import-active.png);
    background-position: 9px center;
    padding-left: 40px;
    border-radius: 0px;
    background-repeat: no-repeat;
    font-size: 14px;
    border-color: #031723 !important;
    color: #0eb0ff !important;
    font-weight: 400;
    text-transform: capitalize;
    font-family: "Segoe UI";

}
.import_button:hover,
.import_button:focus,
.import_button:not(:disabled):not(.disabled):active:focus {
	background-color: #0eb0ff !important;
    background-image: url(../images/icons/import-active-hover.png);
    border-color: #0eb0ff !important;
    color: #fff !important;
    box-shadow: none;
}
.new_button:hover,
.new_button:focus,
.new_button:not(:disabled):not(.disabled):active:focus{
	background-color: #0eb0ff !important;
    background-image: url(../images/icons/add-new-hover.png);
    border-color: #0eb0ff !important;
    color: #fff !important;
    box-shadow: none;
}
.new_button{
	background-color: #021823 !important;
    background-image: url(../images/icons/add-new.png);
    background-position: 9px center;
    padding-left: 40px;
    border-radius: 0px;
    background-repeat: no-repeat;
    font-size: 14px;
    border-color: #031723 !important;
    color: #0eb0ff !important;
    font-weight: 400;
    text-transform: capitalize;
    font-family: "Segoe UI";

}
.new_campaign{
	background-color: #021823 !important;
    background-image: url(../images/icons/icon-add.png);
    background-position: 9px center;
    padding-left: 40px;
    border-radius: 0px;
    background-repeat: no-repeat;
    font-size: 14px;
    border-color: #031723 !important;
    color: #0eb0ff !important;
    font-weight: 400;
    text-transform: capitalize;
    font-family: "Segoe UI";
}
.new_campaign:hover,
.new_campaign:focus,
.new_campaign:visited ,
.new_campaign:not(:disabled):not(.disabled):active:focus{
	background-color: #0eb0ff !important;
    background-image: url(../images/icons/icon-add-white.png);
    border-color: #0eb0ff !important;
    color: #fff !important;
    box-shadow: none;
}
.form_section {
    float: left;
    border: 1px solid #a7a7a7;
    width: 100%;
    background: #fff;
    padding: 15px 25px 25px;
    margin-bottom: 15px;
}
sup{
	color: red
}
fieldset {
    float: left;
    border: 1px solid #a7a7a7;
    width: 100%;
    background: #fff;
    padding: 15px;
    position: relative;
}
legend {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: .5rem;
    font-size: 1.5rem;
    line-height: inherit;
    color: inherit;
    white-space: normal;
    display: inline-block;
    width: auto;
    padding: 0 10px;
    font-size: 16px;
    font-weight: 600;
    font-family: "Segoe UI";
    color: #555555;
    text-transform: uppercase;
}
p,label{
    font-family: "Segoe UI";
	font-size: 16px;
	font-weight: 600;
}
.btn-primary{
	background-color: #031e2c;
    border-color: #031e2c;
    font-weight: 600;
    border-radius: 0px;
    border-width: 2px;
    font-family: "Segoe UI";

}
.btn-primary:hover,
.btn-primary:focus{
	color: #031e2c;
    background-color: #ffffff;
    border-color: #031e2c;
}
.btn-skyblue{
	color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 0px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Segoe UI";
    padding: 8px 22px;
    font-size: 20px;
}
.btn-skyblue:hover,
.btn-skyblue:focus{
	color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.select_refund_option .navbar-toggler:after, 
.select_refund_option .navbar-toggler:before {
    content: '';
    width: 9px;
    height: 2px;
    background: #a7a7a7;
    position: absolute;
    right: 15px;
    display: inline-block;
    transform: rotate(45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    top: 50%;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}
.select_refund_option .navbar-toggler:before {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    right: 21px;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}
.select_refund_option{
	width: 100%;
	display:block;
	margin-bottom: 10px;	
    border: 1px solid #a7a7a7;
    border-radius: 4px;
}
.select_refund_option .navbar-toggler {
    width: 100%;
    text-align: left;
    padding: 8px 15px;
    font-size: 15px;
    margin: 0px !important;
    color: #a7a7a7;
    position: relative;
}
.select_refund_option .navbar-toggler:focus,
.select_refund_option .navbar-toggler:not(:disabled):not(.disabled):active:focus  {
	box-shadow: none;
	outline: none;
}
.select_refund_option .show_option{

}
.select_refund_option .show_option a {
    border-top: 1px solid #a7a7a7;
    padding: 8px 16px;
    font-size: 14px;
    white-space: normal;
}
.select_refund_option .show_option a.active{
    color: #fff;
    text-decoration: none;
    background-color: #031e2c;
}
.input-group-text{
	background: none;
    border: 0px;
}
.btn_width_120{
	width: 120px;
	margin-top: 10px;
}
.assign_links{
	margin: 30px 0;
}
.assign_links p{
	margin-bottom: 10px;
}
.text-skyblue{
	color:#0395dd;
	text-decoration: underline;
}
.text-skyblue:hover,
.text-skyblue:focus{
	color:#031e2c;
	text-decoration: underline;
}
.border_box{
	border:1px solid #a7a7a7;
	text-align: center;
	width: 100%;
	display: block;
	position: relative;
	overflow: hidden;
}
.assign_option input[type=file]{
	width: 100%;
	height: 90px;
	opacity: 0;
	position: relative;
	z-index: 1
}
.position_absolute{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}
.add_image_text{
	font-size: 16px;
    font-family: "Segoe UI";
	color: #031e2c;
}
.assign_option .table{
	float: none;
}
.assign_option .table td{
	padding: 0px;
	border:1px solid #a7a7a7;
}
.white_shadow:after {
    content: '';
    position: absolute;
    top: 0px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    background: rgba(255,255,255,0.4);
    background: -moz-linear-gradient(top, rgba(255,255,255,0.5) 1%, rgba(255,255,255,.9) 50%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.4) 1%,rgba(255,255,255,.9) 50%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0.4) 1%,rgba(255,255,255,.9) 50%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff2b2b', endColorstr='#ffffff',GradientType=0 );
    z-index: 1
}
.year_select{
	display: block;
	text-align: left;
	padding: 0px 10px;
}

.edit_assign_icon {
    width: 14px;
    display: none;
    margin-left: 20px;
}
.edit .edit_assign_icon{
	display: initial;
}
.file_upload_section{
	display: inline-block;
	max-width: 100%;
	padding: 15px;
	margin-bottom: 20px;
	border:1px dashed #a7a7a7;
}
.file_upload{
	display: inline-block;
	position: relative;
	overflow: hidden;
}
.file_upload input{
	position: absolute;
	left: 0px;
	right: 0px;
	top:0px;
	bottom: 0px;
	opacity: 0;
	z-index: 1;
	cursor: pointer;
	width: 100%;	
}
.btn-green{
	background: #4bc18a;
	border-radius: 0px;
	border:2px solid #4bc18a;
	color: #fff;
    font-family: "Segoe UI";
    font-weight: 600;
}
input:focus + .btn-green,
input:hover + .btn-green,
.btn-green:hover,
.btn-green:focus{
	background: #fff;
	border-radius: 0px;
	border:2px solid #4bc18a;
	color: #4bc18a;
}
@media (min-width:768px){
	.width_80{
		max-width: 80% !important;
	}
}
@media(max-width:1200px){
	.splash_info{
		padding: 40px;
	}
}
@media(max-width:992px){
	.splash_info{
		padding: 20px;
	}
}
@media(max-width:768px){
	.login_section{
		display: none
	}
	.mobile_space_none>.col{
		padding: 0px;
		margin: 0px !important;

	}
	.form_section{
		padding: 15px;
	}
}
@media (max-width: 575.98px) {
	.menu_icon{
		display: none
	}
	.splash_info img{
		max-width: 100%;
	}
	.site_logo img{
		display: none;
	}	
	.menu_side .navbar-toggler{
		display: none;
	}
	.profile_section .col-sm-8{
		display: none;
	}
	.profile_section img{
		width: 33px;
		height: 33px;
	}
	.profile_section{
		text-align: center;
		padding:10px 5px;
	}
	.menu_side .nav-link{
		text-indent: -9999px;
		padding: .7rem 1rem;
	}
	.menu_side .nav-link img{
		left: 20%;
	}
	.site_logo {
		float: left;
		width: 100%;
		margin: 0px 0;
		border-bottom: 2px solid #031723;
		padding: 16px 3px;
		background: #031723;
	}
	.site_logo img.mobile_logo {
	    display: block !important;
	    width: 36px;
	}
	.menu_side{
		max-width: 62px;
	}
	.content_side{
		max-width: calc(100% - 62px)
	}
	legend{
		font-size: 14px;
	}
	.btn-skyblue{
		font-size: 14px;
		padding: 6px 12px;
	}
	.add_image_text{
		font-size: 14px;
	}
}